<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registrarte</title>
</head>
<body>
    
    <h1>Registrate</h1>
    <form>
        <p>nombre: <input type="text" name="txtnombre"></p>
        <p>apellido: <input type="text" name="txtapellido"></p>
        <p>nacimiento: <input type="datetime" name="txtnacimiento"></p>
        <p>usuario: <input type="text" name="txtusuario"></p>
        <p>contraseña: <input type="text" name="txtcontraseña"></p>
        <p>pais: <input type="text" name="txtpais"></p>
        <p>sexo: <input type="text" name="txtsexo"></p>

        <input type="submit" value="Registrarse">
    </form>



</body>
</html>