<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registrarte</title>
</head>
<body>
    

    <h1>Registrate</h1>

    <form action="/" method="POST">{% csrf_token %}

        <table>

            {{ formulario_registro.as_table }}

        </table>


        <p>nombre: <input type="text" name="nombre" required></p>
        <p>apellido: <input type="text" name="apellido" required></p>
        <p>nacimiento: <input type="datepicker" name="nacimiento" required></p>
        <p>usuario: <input type="text" name="usuario" required maxlength="20"></p>
        <p>contraseña: <input type="text" name="contraseña", minlength="8", required></p>
        <p>pais: <input type="text" name="pais" ></p>
        <p>sexo: <input type="text" name="sexo" ></p>

        <button type="submit">Registrarse</button>
    </form>

    



</body>
</html>