{% extends 'home/index.html' %}

    {% block CONTENIDO_INDEX %}
        
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="container w-50">
            <div class="">
                <table class="container text-center">
    
                    {{ form_datos.as_p }}
        
                </table>
            </div>
            
            <p class="container text-center ">
                <button type="submit" class="my-1 btn btn-primary">Actualizar Informacion</button>       
            </p>
        
        </div>
    </form>
    
    {% endblock CONTENIDO_INDEX %}