{% extends "home/index.html" %}

{% block CONTENIDO_INDEX %}
    <div class="container py-4 col-3 ">
        <h1 class="text-center ">Hola, somos Lubrimec</h1>
    
        <div class="container">
            <div class=" m-4 " style="height: 230px;">
                <div class="mx-auto my-auto fs-4 text-center" style="width: 280px; height: 100px;">
    
                    nosotros somos Lubrimec, 
                    una empresa familiar, fundada en 2006. nosotros priorizamos la seguridad, sin accidentes desde nuestra fundacion, 
                    nuestro mecanico en jefe es Luis Ojeda, el cual tiene una extensa trayectoria en el rubro, 
                    contamos ademas con lubricentro, para brindarte un servicio mas completo y que tu vehiculo reciba el trato que se merece.
                    nos situamos en Bs.As, Pilar.
    
                </div>
            </div>
        </div>
    </div>

{% endblock CONTENIDO_INDEX %}