{% extends "home/index.html" %}

{% block CONTENIDO_INDEX %}
    <h1 class="text-center ">Hola, somos Lubrimec</h1>

    <div class="card-text p-5 fs-4 text-center col-4 center">
        nosotros somos Lubrimec, 
        una empresa familiar, fundada en 2006. nosotros priorizamos la seguridad, sin accidentes desde nuestra fundacion, 
        nuestro mecanico en jefe es Luis Ojeda, el cual tiene una extensa trayectoria en el rubro, 
        contamos ademas con lubricentro, para brindarte un servicio mas completo y que tu vehiculo reciba el trato que se merece.
        nos situamos en Bs.As, Pilar.
    </div>
{% endblock CONTENIDO_INDEX %}