{% extends 'home/index.html' %}
    {% load static %}

    {% block CONTENIDO_INDEX %}
        <header class="py-5 bg-image-full " style="background-image: url('https://lc.cx/q6UdLy')" >
            
            <div class="text-center my-5">
                {% if user.UserCustom.avatar.url %}
                    <img class="mx-auto d-block rounded-5" height="70px" width="70px" src="{{CustomUser.avatar.url}}" alt="tu avatar">
                {% else %}
                    <img class="mx-auto d-block rounded-5" height="70px" width="70px" src='{% static 'home/img/avatar.png' %}' alt="tu avatar">
                {% endif %}
                <a href="{% url 'apps.register:UpdateAvatar' %}">✏️</a>
                <h1 class="text-white fs-3 fw-bolder">Bienvenido, {{user.username}}</h1>
            </div>
        </header>
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Sobre mi</h2>
                        <div class="container border border-primary border-2">
                            <div class="fs-5">
                                <p class="mb-2">Nombre: {{user.first_name}}</p>
                                <p class="mb-2">apellido: {{user.last_name}}</p>
                                <p class="mb-2">email: {{user.email}}</p>
                                <p class="mb-2">ultima sesion: {{user.last_login}}</p>
                                <p class="mb-2">cuenta creada el: {{user.date_joined}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock CONTENIDO_INDEX %}