<button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#slider{{SliderId}}" aria-expanded="false" aria-controls="collapseExample">
    {{titulo}}
</button>
</p>
<div class="collapse" id="slider{{SliderId}}"></div>
<div class="">
    <div class="container border border-dark w-75 text-center">
        <div class="container border {% if  user.is_staff%}border-warning {% else %}border-dark{% endif %} w-50 text-center">
            {{cuerpo.nombre}}<br>
            {{cuerpo.marca}}<br>
            {{cuerpo.proveedor}}<br>
            {{cuerpo.precio}}<br>
            {{cuerpo.descripcion}}<br>
            <img class="mx-auto d-block" height="70px" width="70px" src="{{ obj.imagen.url }}" alt=" ">
        </div>
    </div>
</div>



{% comment  %}
nombre: {{obj.nombre}} <br>
marca: {{obj.marca}} <br>
proveedor: {{obj.proveedor}} <br>
precio: {{obj.precio}} <br>
descripcion:<div class="container border {% if  user.is_staff%}border-warning {% else %}border-dark{% endif %} w-50 text-center my-2"> {{obj.descripcion}} <br></div>    
{% endcomment %}