<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Detalles  {{titulo}}
</button>
</p>
<div class="collapse" id="collapseExample">
<div class="card card-body">
    {{cuerpo}}

    nombre: {{obj.nombre}} <br>
    marca: {{obj.marca}} <br>
    proveedor: {{obj.proveedor}} <br>
    precio: {{obj.precio}} <br>
    descripcion: {{obj.descripcion}} <br>
    imagen: {{obj.imagen}}
</div>
</div>